<md-nav-list >
    <span md-line>Project's Menu</span>
    <md-list-item routerLinkActive="active">
        <a md-line  [routerLink]="['dashboard']" >
            <md-icon md-list-icon>dashboard</md-icon>
            <span md-line>Dashboard</span>
        </a>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item routerLinkActive="active" >
        <a  [routerLink]="['tasks']">
            <md-icon md-list-icon>format_list_bulleted</md-icon>
            <span md-line>Tasks</span>
        </a>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item routerLinkActive="active">
        <a  [routerLink]="['gantt']">
            <md-icon md-list-icon>show_chart</md-icon>
            <span md-line>Gantt</span>
        </a>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item routerLinkActive="active" >
        <a  [routerLink]="['issues']">
            <md-icon md-list-icon>warning</md-icon>
            <span md-line>Issues</span>
        </a>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item routerLinkActive="active">
        <a  [routerLink]="['team']">
            <md-icon md-list-icon>group</md-icon>
            <span md-line>Team</span>
        </a>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item routerLinkActive="active">
        <a  [routerLink]="['timeline']">
            <md-icon md-list-icon>timeline</md-icon>
            <span md-line>Action Log</span>
        </a>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item routerLinkActive="active">
        <a  [routerLink]="['chat']">
            <md-icon md-list-icon>chat</md-icon>
            <span md-line>Chat</span>
        </a>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item routerLinkActive="active">
        <a  [routerLink]="['settings']">
            <md-icon md-list-icon>settings</md-icon>
            <span md-line>Settings</span>
        </a>
    </md-list-item>
</md-nav-list>
