<mat-nav-list >
    <span mat-line>Project's Menu</span>
    <mat-list-item routerLinkActive="active">
        <a mat-line  [routerLink]="['dashboard']" >
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <span mat-line>Dashboard</span>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLinkActive="active" >
        <a  [routerLink]="['tasks']">
            <mat-icon mat-list-icon>format_list_bulleted</mat-icon>
            <span mat-line>Tasks</span>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLinkActive="active">
        <a  [routerLink]="['gantt']">
            <mat-icon mat-list-icon>show_chart</mat-icon>
            <span mat-line>Gantt</span>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLinkActive="active" >
        <a  [routerLink]="['issues']">
            <mat-icon mat-list-icon>warning</mat-icon>
            <span mat-line>Issues</span>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLinkActive="active">
        <a  [routerLink]="['team']">
            <mat-icon mat-list-icon>group</mat-icon>
            <span mat-line>Team</span>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLinkActive="active">
        <a  [routerLink]="['timeline']">
            <mat-icon mat-list-icon>timeline</mat-icon>
            <span mat-line>Action Log</span>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLinkActive="active">
        <a  [routerLink]="['chat']">
            <mat-icon mat-list-icon>chat</mat-icon>
            <span mat-line>Chat</span>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLinkActive="active">
        <a  [routerLink]="['settings']">
            <mat-icon mat-list-icon>settings</mat-icon>
            <span mat-line>Settings</span>
        </a>
    </mat-list-item>
</mat-nav-list>
