    <ul class="nav">
        <li routerLinkActive="active">
            <a  [routerLink]="['dashboard']"  >
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <p>Project's Dashboard</p>
            </a>

        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['tasks']" >
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['issues']" >
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <p>Issues</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a  hre="#">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                <p>Chat</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a  [routerLink]="['settings']">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <p>Settings</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a  [routerLink]="['team']">
                <i class="fa fa-users" aria-hidden="true"></i>
                <p>Team</p>
            </a>
        </li>
    </ul>
