<md-nav-list *ngIf="userMenuAvailable" >
    <span md-line>User menu</span>
    <md-list-item routerLinkActive="active">
        <a md-line  [routerLink]="['dashboard']" >
            <md-icon md-list-icon>dashboard</md-icon>
            <span md-line>Dashboard</span>
        </a>
    </md-list-item>
    <md-list-item routerLinkActive="active" >
        <a  [routerLink]="['myprojects']">
            <md-icon md-list-icon>business_center</md-icon>
            <span md-line>My Projects</span>
        </a>
    </md-list-item>
    <md-list-item routerLinkActive="active" >
        <a  [routerLink]="['mytasks']">
            <md-icon md-list-icon>list</md-icon>
            <span md-line>My Tasks</span>
        </a>
    </md-list-item>
    <md-list-item routerLinkActive="active">
        <a  [routerLink]="['myissues']">
            <md-icon md-list-icon>warning</md-icon>
            <span md-line>My Issues</span>
        </a>
    </md-list-item>
    <md-list-item routerLinkActive="active">
        <a  [routerLink]="['profile']">
            <md-icon md-list-icon>account_circle</md-icon>
            <span md-line>My Profile</span>
        </a>
    </md-list-item>
    <md-list-item routerLinkActive="active">
        <a md-line  [routerLink]="['calendar']" >
            <md-icon md-list-icon>schedule</md-icon>
            <span md-line>Calendar</span>
        </a>
    </md-list-item>
    <md-list-item routerLinkActive="active">
        <a  [routerLink]="['chat' ]"> <!-- ,{outlets: { 'messages': ['none']}} -->
            <md-icon md-list-icon>chat</md-icon>
            <span md-line>Chat</span>
        </a>
    </md-list-item>
    <md-list-item routerLinkActive="active">
        <a  [routerLink]="['invites']">
            <md-icon md-list-icon>group_add</md-icon>
            <span md-line>Invites</span>
        </a>
    </md-list-item>
</md-nav-list>


<!--
    <ul *ngIf="userMenuAvailable">
        <li routerLinkActive="active">
            <a  [routerLink]="['dashboard']"  >
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <p>Dashboard</p>
            </a>

        </li>
        <li routerLinkActive="active">
            <a  [routerLink]="['myprojects']" >
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <p>My Projects</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['mytasks']" >
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <p>My Tasks</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['myissues']" >
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <p>My Issues</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a  [routerLink]="['chat']">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                <p>Chat</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a  [routerLink]="['profile']">
                <i class="fa fa-user" aria-hidden="true"></i>
                <p>Profile</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a  [routerLink]="['invites']">
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                <p>Invites</p>
            </a>
        </li>
    </ul>-->

