<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Management</title>
    <script src="https://use.fontawesome.com/73154cc6f5.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Theme for material -->
    <link rel="stylesheet" href="/stylesheets/material_theming/indigo-pink.css">
    <!-- Dragula Module css     -->
    <link href="/stylesheets/dashboard/dragula.css" rel="stylesheet"/>
    <!-- Calendar Module css -->
    <link href="/stylesheets/angular-calendar.css" rel="stylesheet"/>

</head>
<body>
<my-app>
    <div class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
</my-app>
<script src="/js/app/bundle.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</body>
</html>