<context-menu #basicMenu class="ngx-contextmenu">
    <ng-template contextMenuItem (execute)="addEvent($event.item.date)">
       <button md-raised-button>Add Event</button>
    </ng-template>
    <ng-template contextMenuItem (execute)="seeDay($event.item.date)">
        <button md-raised-button>Day View</button>
    </ng-template>
</context-menu>
<ng-template
        #monthCellTemplate
        let-day="day"
        let-openDay="openDay"
        let-locale="locale"
        let-tooltipPlacement="tooltipPlacement"
        let-highlightDay="highlightDay"
        let-unhighlightDay="unhighlightDay"
        let-eventClicked="eventClicked">
    <div class="fill-height" [contextMenu]="basicMenu" [contextMenuSubject]="day">
        <div class="cal-cell-top">
            <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        </div>
        <div class="cal-events">
            <div class="cal-event"
                    *ngFor="let event of day.events"
                    [style.backgroundColor]="event.color.primary"
                    [ngClass]="event?.cssClass"
                    (mouseenter)="highlightDay.emit({event: event})"
                    (mouseleave)="unhighlightDay.emit({event: event})"
                    [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
                    [tooltipPlacement]="tooltipPlacement"
                    (click)="$event.stopPropagation(); eventClicked.emit({event: event});">
            </div>
        </div>
    </div>
</ng-template>

<div    fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
    <div fxFlex="auto">
        <md-card class="card block" >
            <md-card-header style="text-align: center;justify-content: center;">
                <md-card-title class="block">
                    <h1 *ngIf="!view.match('day') ">{{ viewDate | date:'MMMM y' }}</h1>
                    <h1 *ngIf="view.match('day') && calendarView.selectedIndex==2" > {{ viewDate | date: 'd MMMM of y'}} </h1>
                </md-card-title>
                <md-card-subtitle>
                    <button md-raised-button
                            mwlCalendarPreviousView
                            [view]="view"
                            [(viewDate)]="viewDate" (click)="activeDayIsOpen=false" class="block">Previous</button>
                    <button md-raised-button
                            mwlCalendarToday
                            [(viewDate)]="viewDate" (click)="activeDayIsOpen=true" class="block">Current</button>
                    <button md-raised-button
                            mwlCalendarNextView
                            [view]="view"
                            [(viewDate)]="viewDate" (click)="activeDayIsOpen=false" class="block">Next</button>
                </md-card-subtitle>
            </md-card-header>
            <md-card-content class="block">
                <md-tab-group #calendarView (selectChange)="onSelectChange($event)">
                    <md-tab label="Month" >
                        <mwl-calendar-month-view
                                [viewDate]="viewDate"
                                [events]="events"
                                [refresh]="refresh"
                                (eventClicked)="eventClicked($event)"
                                (dayClicked)="dayClicked($event.day)"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                [activeDayIsOpen]="activeDayIsOpen"
                                [cellTemplate]="monthCellTemplate">
                        </mwl-calendar-month-view>
                    </md-tab>
                    <md-tab label="Week">
                        <mwl-calendar-week-view
                                [viewDate]="viewDate"
                                [events]="events"
                                [refresh]="refresh"
                                (eventClicked)="eventClicked($event)"
                                (dayClicked)="dayClicked($event.day)"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                (dayHeaderClicked)="viewDate = $event.day.date; view = 'day'">
                        </mwl-calendar-week-view>
                    </md-tab>
                    <md-tab label="Day">
                        <mwl-calendar-day-view
                                [viewDate]="viewDate"
                                [events]="events"
                                [refresh]="refresh"
                                (eventClicked)="eventClicked($event)"
                                (dayClicked)="dayClicked($event.day)"
                                (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-day-view>
                    </md-tab>
                </md-tab-group>
            </md-card-content>
            <md-card-footer>
                <md-divider></md-divider>
                <md-icon>history</md-icon> Just updated
            </md-card-footer>
        </md-card>
    </div>
</div>