
<div class="row">
    <div class="col-md-6">
        <md-card class="card">
            <md-card-title>Invites</md-card-title>
            <md-card-subtitle>Pending Ones Only</md-card-subtitle>
            <md-card-content>
                <table class="table" >
                    <thead>
                    <th>Project Name</th>
                    <th>Position</th>
                    <th>Invited</th>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let project of invites">
                                <tr>
                                    <td>{{project?.name}}</td>
                                    <td>{{project?.description}}</td>
                                    <td><button class="btn btn-info btn-fill" (click)="acceptInvite(project._id)">Accept</button></td>
                                </tr>
                    </ng-container>
                    </tbody>
                </table>
                <md-card-footer>Updated 3 minutes ago??</md-card-footer>
            </md-card-content>
        </md-card>
    </div>
</div>