<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://github.com">
                        <i class="fa fa-github fa-3x"></i>
                        <p><small>Visit our repo</small></p>
                    </a>
                </li>
                <li>
                    <a href="http://informatics.teicm.gr">
                        <i class="fa fa-university fa-3x"></i>
                        <p><small>University</small></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-question-circle fa-3x"></i>
                        <p><small>FAQ</small></p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            Copyright &copy; 2017 by  Anchidin Damian | Anastasios Gymnopoylos
        </div>
    </div>
</footer>