        <div id="wallpaper" class="header">
            <h1 class="title block" style="font-size:5em;">Project Management Web App.</h1>
            <h4 class="description" style="color:beige;font-size:1.5em;font-family: Josefin Sans, sans-serif;">Give it a 5 minutes tour and you'll find out why is one of the best.</h4>
            <button mat-fab color="primary" style="margin-left:4em;" (click)="playVideoTour()"><mat-icon>play_arrow</mat-icon></button>
            <br>
        </div>
        <div class="main main-raised">
            <br>
            <div id="about" class="block">
                <h2 class="title" style="font-size:2em;">About this application</h2>
                <h5 class="description">
                    This application is the subject of a Bachelor's Degree Thesis at the University of Applied Sciences of Central Macedonia.
                    Some of the important features are the below:
                </h5>

            </div>

            <div id="product" class="block">

                <br>
                <hr>
                <h2 class="title" style="font-size:2em;">Let's talk product</h2>
                <h5 class="description">
                    If you're looking for a quick and easy way of directing a project, you've come to the right place.
                    No matter the size or nature of your plan, our application is the right tool for it.
                    <br>Below you'll get to know the most important features implemented in PM Web App.
                </h5>

                <div fxLayout
                     fxLayout.xs="column"
                     fxLayoutAlign="center"
                     fxLayoutGap="1em"
                     fxLayoutGap.xs="0.1em">
                    <div fxFlex class="block">
                        <mat-card class="nothing">
                            <mat-card-title class="title">Project & Private discussions</mat-card-title>
                            <mat-card-subtitle><mat-icon style="font-size: 4.4em;;color:purple">chat</mat-icon></mat-card-subtitle>
                            <mat-card-content>
                                <p class="description">You can discuss important matters about your project, tasks, issues with the other member of your team entirely privately and secure. The chat is based on Socket.io.</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex class="block">
                        <mat-card class="nothing">
                            <mat-card-title class="title">Quick & easy</mat-card-title>
                            <mat-card-subtitle><mat-icon style="font-size: 4.4em;;color:green">verified_user</mat-icon></mat-card-subtitle>
                            <mat-card-content>
                                <p class="description">Keep up with your tasks, issues as well as your teammates one's, through the Dashboard.</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex class="block">
                        <mat-card class="nothing">
                            <mat-card-title class="title">Gantt Charts</mat-card-title>
                            <mat-card-subtitle><mat-icon style="font-size: 4.4em;;color:blue">insert_chart</mat-icon></mat-card-subtitle>
                            <mat-card-content>
                                <p class="description">Don't lose track of time using the Gantt charts provided by our app.</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

            </div>

            <div id="authenticate" class="block">
                <hr>
                <div fxLayout
                     fxLayout.xs="column"
                     fxLayoutAlign="center"
                     fxLayoutGap="1em"
                     fxLayoutGap.xs="0">
                    <div fxFlex class="block">
                        <mat-card class="nothing">
                            <mat-card-title class="title">What are you waiting for?</mat-card-title>
                            <mat-card-subtitle>Register for free here , and start using this awesome app!</mat-card-subtitle>
                            <mat-card-content>
                                <a mat-raised-button color="accent" [routerLink]="['/auth/signup']">Register</a>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex class="block">
                        <mat-card class="nothing">
                            <mat-card-title class="title">Or if you already have an account:</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                            <mat-card-content>
                                <a mat-raised-button  color="primary" [routerLink]="['/auth/signin']">Login</a>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div id="team" class="block">
                <hr>
                <div fxLayout
                     fxLayout.xs="column"
                     fxLayoutAlign="center"
                     fxLayoutGap="1em"
                     fxLayoutGap.xs="0">
                    <div fxFlex style="margin-left:4em" class="block">
                        <mat-card class="nothing">
                            <mat-card-header>
                                <img src="/img/gates.jpg" alt="Thumbnail Image" mat-card-avatar class="img-raised img-avatar" fxShow.xs="false">
                                <img src="/img/gates.jpg" alt="Thumbnail Image" mat-card-avatar class="img-raised" fxShow.xs="true" fxHide.gt-xs="true">
                                <mat-card-title class="title" style="font-size:2em;">Anastasios Gymnopoylos</mat-card-title>
                                <mat-card-subtitle class="description">Full Stack Developer</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="description">You can write here details about one of your team members.</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-icon-button><i class="fa fa-linkedin-square fa-2x"></i></button>
                                <button mat-icon-button><i class="fa fa-github fa-2x"></i></button>
                                <button mat-icon-button><i class="fa fa-facebook-square fa-2x"></i></button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div fxFlex class="block">
                        <mat-card class="nothing">
                            <mat-card-header>
                                <img src="/img/jobs.jpg" alt="Thumbnail Image" mat-card-avatar class="img-raised img-avatar" fxShow.xs="false">
                                <img src="/img/jobs.jpg" alt="Thumbnail Image" mat-card-avatar class="img-raised" fxShow.xs="true" fxHide.gt-xs="true">
                                <mat-card-title class="title" style="font-size:2em;">Damian Anchidin</mat-card-title>
                                <mat-card-subtitle class="description">Full Stack Developer</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="description">You can write here details about one of your team members.</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-icon-button><i class="fa fa-linkedin-square fa-2x"></i></button>
                                <button mat-icon-button><i class="fa fa-github fa-2x"></i></button>
                                <button mat-icon-button><i class="fa fa-facebook-square fa-2x"></i></button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
            </div>
        </div>

            <div id="contact" class="block">
                <br>
                <hr>
                <h2 class="title" style="font-size:2em;">Contact Us</h2>
                <h5 class="description" style="font-size:1em;">Divide details about your inquiry. We will responde back to you in a couple of hours.</h5>
                <div fxLayout>
                    <div fxFlex class="block">
                        <mat-card class="nothing">
                            <mat-card-content>
                                <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
                                    <mat-form-field fxFlex="calc(50% - 25px)" class="block">
                                        <mat-icon matPrefix>email</mat-icon>
                                        <input matInput placeholder="Email" type="email">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="calc(50% - 25px)" class="block">
                                        <mat-icon matPrefix>subject</mat-icon>
                                        <input matInput placeholder="Subject" type="text">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="calc(50% - 25px)" class="block">
                                        <mat-icon matPrefix>short_text</mat-icon>
                                        <textarea matInput placeholder="Message" cols="10" rows="2"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card-content>

                            <mat-card-actions class="block">
                                <button mat-raised-button color="primary">Send</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <br>

            </div>
        </div>





   <!-- <div id="wallpaper" class="header header-filter">
        <div class="container">
            <div class="row">
                <div class="col-mat-6">
                    <h1 class="title">Project Management Web App.</h1>
                    <h4>Give it a 5 minutes tour and you'll find out why is one of the best.</h4>
                    <br />
                    <a [routerLink]="['/homepage']" class="btn btn-sm animated-button gibson-two btn-raised">
                        <i class="fa fa-play"></i> Watch video
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
                <div class="row">
                    <div class="col-mat-8 col-mat-offset-2">
                        <h2 class="title">About this application</h2>
                        <h5 class="description">
                            This application is the subject of a Bachelor's Degree Thesis at the University of Applied Sciences of Central Macedonia.
                            Some of the important features are the below:
                        </h5>
                    </div>
                </div>
                <br><br><br>
            <div id="product" class="section text-center section-landing">
                <div class="row">
                    <div class="col-mat-8 col-mat-offset-2">
                        <h2 class="title">Let's talk product</h2>
                        <h5 class="description">
                            If you're looking for a quick and easy way of directing a project, you've come to the right place.
                            No matter the size or nature of your plan, our application is the right tool for it.
                            Below you'll ge to know the most important features implemented in PM Web App.
                        </h5>
                    </div>
                </div>

                <div class="features">
                    <div class="row">
                        <div class="col-mat-4">
                            <div class="info">
                                <div class="icon ">
                                    <i class="material-icons icon-primary">chat</i>
                                </div>
                                <h4 class="info-title">Project private discussions</h4>
                                <p>You can discuss important matters about your project, tasks, issues with the other member of your team entirely privately and secure. The chat is based on Socket.io.</p>
                            </div>
                        </div>
                        <div class="col-mat-4">
                            <div class="info">
                                <div class="icon ">
                                    <i class="material-icons icon-success">verified_user</i>
                                </div>
                                <h4 class="info-title">Quick & easy</h4>
                                <p>Keep up with your tasks, issues as well as your teammates one's, through the Dashboard.</p>
                            </div>
                        </div>
                        <div class="col-mat-4">
                            <div class="info">
                                <div class="icon ">
                                    <i class="material-icons icon-danger">insert_chart</i>
                                </div>
                                <h4 class="info-title">Gantt charts</h4>
                                <p>Don't lose track of time using the Gantt charts provided by our app.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="authenticate" class="section text-center section-landing">
                <div class="row">
                    <div class="col-mat-8 col-mat-offset-2">
                        <h2 class="title">What are you waiting for ?</h2>

                            <h4 class="description">
                                Register for free here, and start using this awesome thing!
                            </h4>
                        <div class="row">
                            <div class="text-center">
                                    <a [routerLink]="['/auth']" class="btn btn-sm animated-button victoria-one">Sign Up</a>
                            </div>
                        </div>

                            <h4 class="description">
                                Or if you already have an account:
                            </h4>
                        <div class="row">
                            <div class="text-center">
                                    <a [routerLink]="['/auth/signin']" class="btn btn-sm animated-button victoria-two">Login</a>
                            </div>
                        </div>

                </div>
            </div>

            <br><br>
            <div id="team" class="section text-center">
                <h2 class="title">Here is our team</h2>

                <div class="team">
                    <div class="row">
                        <div class="col-mat-6">
                            <div class="team-player">
                                <img src="/img/gates.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                                <h4 class="title">Anastasios Gymnopoylos <br />
                                    <small class="text-muted">Full-Stack Developer</small>
                                </h4>
                                <p class="description">You can write here details about one of your team members.</p>
                                <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin-square fa-2x"></i></a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-github fa-2x"></i></a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="col-mat-6">
                            <div class="team-player">
                                <img src="/img/jobs.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                                <h4 class="title">Damian Anchidin<br />
                                    <small class="text-muted">Full-Stack Developer</small>
                                </h4>
                                <p class="description">You can write here details about one of your team members.</p>
                                <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin-square fa-2x"></i></a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-github fa-2x"></i></a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div id="contact" class="section landing-section">
                <div class="row">
                    <div class="col-mat-8 col-mat-offset-2">
                        <h2 class="text-center title">Contact us</h2>
                        <h4 class="text-center description">Divide details about your inquiry. We will responde back to you in a couple of hours.</h4>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-mat-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Your Name</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-mat-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Your Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group label-floating">
                                <label class="control-label">Your Messge</label>
                                <textarea class="form-control" rows="4"></textarea>
                            </div>

                            <div class="row">
                                <div class="text-center">
                                    <a href="#" class="btn btn-sm animated-button victoria-three">Send Message</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

        </div>
    </div>-->