<md-toolbar>
    <div style="flex: 0.025 0.025 auto;"></div>
    <div>
        <a md-icon-button><i class="fa fa-github fa-2x"></i><br><span class="description">Visit our repo</span></a>
    </div>
    <div style="flex: 0.025 0.025 auto;"></div>
    <div>
        <a md-icon-button><i class="fa fa-university fa-2x"></i><br><span class="description">University</span></a>
    </div>
    <div style="flex: 0.025 0.025 auto;"></div>
    <div>
        <a md-icon-button><i class="fa fa-question-circle fa-2x"></i><br><span class="description">FAQ</span></a>
    </div>
    <div style="flex: 1 1 auto;"></div>
    <p class="description">Copyright &copy; 2017 by  Anchidin Damian | Anastasios Gymnopoylos</p>

</md-toolbar>