<div id="wallpaper" class="header block">
            <mat-card class="card block" style="max-width:30em;margin:auto;">
                <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <mat-card-header>
                     <mat-card class="card block" style="background: rebeccapurple;width:100%;margin-left:auto;margin-right:auto;margin-top:-10%;">
                            <mat-card-header style="justify-content: center">
                                <mat-card-title style="font-size: 1.5em">Sign In</mat-card-title>
                            </mat-card-header>
                            <mat-card-content style="text-align: center;font-size: 1em">
                                <button mat-icon-button><i class="fa fa-facebook-square fa-2x"></i></button>
                                <button mat-icon-button><i class="fa fa-twitter fa-2x"></i></button>
                                <button mat-icon-button><i class="fa fa-google-plus fa-2x"></i></button>
                            </mat-card-content>
                     </mat-card>
                    <mat-card-subtitle class="block">
                        OR BE CLASSICAL
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="column" fxLayoutWrap>
                        <mat-input-container fxFlex class="block">
                            <mat-icon matPrefix>account_circle</mat-icon>
                            <input matInput placeholder="Email or Username" type="email" formControlName="email">
                        </mat-input-container>
                        <mat-input-container fxFlex class="block">
                            <mat-icon matPrefix>fingerprint</mat-icon>
                            <input matInput placeholder="password" type="password" formControlName="password">
                        </mat-input-container>
                    </div>
                </mat-card-content>
                <mat-card-actions style="text-align: center">
                    <button mat-raised-button type="submit" [disabled]="!myForm.valid" color="accent" class="block">Login</button>
                </mat-card-actions>
                </form>
            </mat-card>
</div>



<!--      <div class="container">
            <div class="row">
                <div class="col-mat-4 col-mat-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup">
                        <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                            <div class="header header-primary text-center">
                                <h4>Sign In</h4>
                                <div class="social-line">
                                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <p class="text-center">Or Be Classical</p>
                            <br>
                            <div class="content">

                                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                                    <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email...">
                                </div>

                                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                                    <input type="password" id="password" formControlName="password" placeholder="Password..." class="form-control" />
                                </div>

                            </div>
                            <div class="footer text-center">
                                <button class="animated-button victoria-one" type="submit" [disabled]="!myForm.valid">Get Started</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
-->