<md-toolbar class="block" color="primary" style="transition: all 1.5s ease;position: fixed;z-index:999;border-radius: 6px;" [style.background-color]="isTop"  >
    <p style="transition: all 1.5s ease;" [style.color]="isTop">Project Management Web App</p>
    <div style="flex:1 1 auto;"></div>
    <div style="transition: all 1.5s ease;" [style.color]="isTransparent">
        <button md-icon-button [ngx-scroll-to]="'#wallpaper'" mdTooltip="Top Section"><md-icon>home</md-icon></button>
        <button md-icon-button [ngx-scroll-to]="'#about'" mdTooltip="About"><md-icon>info</md-icon></button>
        <button md-icon-button [ngx-scroll-to]="'#product'" mdTooltip="Product"><md-icon>business_center</md-icon></button>
        <button md-icon-button [ngx-scroll-to]="'#authenticate'" mdTooltip="Authenticate"><md-icon>card_membership</md-icon></button>
        <button md-icon-button [ngx-scroll-to]="'#team'" mdTooltip="Our Team"><md-icon>group</md-icon></button>
        <button md-icon-button [ngx-scroll-to]="'#contact'" mdTooltip="Contact Us"><md-icon>contact_mail</md-icon></button>
    </div>

</md-toolbar>