<button mdTooltip="Save settings" class="btn-float" color="primary" md-fab (click)="saveSettings()">
    <md-icon class="md-24">save</md-icon>
</button>

<div class="row">

    <div class="col-md-6">

        <md-card class="card">
            <md-card-title>Project Options</md-card-title>
            <md-card-subtitle>Change info and setting of {{ project?.name }}</md-card-subtitle>
            <md-card-content >

                <md-card class="nothing">
                    <md-card-title>Company</md-card-title>
                    <md-card-subtitle>Name of product's company or employer</md-card-subtitle>
                    <md-card-content>
                        <md-input-container>
                            <input mdInput [(ngModel)]="project.company" type="text" placeholder="Company">
                        </md-input-container>
                    </md-card-content>
                </md-card>

                <md-card class="nothing">
                    <md-card-title>Project Name</md-card-title>
                    <md-card-subtitle>Select your project name , so it represents your work and team</md-card-subtitle>
                    <md-card-content>
                        <md-input-container>
                            <input mdInput [(ngModel)]="project.name" type="text" placeholder="Project Name">
                        </md-input-container>
                    </md-card-content>
                </md-card>

                <md-card class="nothing">
                    <md-card-title>Project Budget</md-card-title>
                    <md-card-subtitle>Budget available for your project</md-card-subtitle>
                    <md-card-content>
                        <md-slider #slider style="position:relative;width:100%" [(ngModel)]="project.budget" [thumb-label]="true" id="mdSlider" min="0" max="50000" tick-interval="auto" ></md-slider>
                        <p>$ {{ slider.value }} </p>
                    </md-card-content>
                </md-card>


                <md-card class="nothing">
                    <md-card-title>Project Description</md-card-title>
                    <md-card-content>
                        <md-input-container>
                            <textarea mdInput [(ngModel)]="project.description" cols="100" rows="5" placeholder="This text should be concise and readable"></textarea>
                        </md-input-container>
                    </md-card-content>
                </md-card>


            </md-card-content>
        </md-card>



    </div>

    <div class="col-md-6">

        <md-card style="background-color: #ad1457 " class="card">
            <md-card-title>Danger Zone</md-card-title>
            <md-card-subtitle>These settings are dangerous</md-card-subtitle>
            <md-card-content >

                <div class="row">
                    <md-card class="nothing">
                        <md-card-title>Make this project private</md-card-title>
                        <md-card-content>
                            <md-slide-toggle [(ngModel)]="private">
                                <span *ngIf="!private">Make Private</span>
                                <span *ngIf="private">Make Public</span>
                            </md-slide-toggle>
                        </md-card-content>
                    </md-card>
                </div>

                <div class="row nothing2">
                    <md-card class="nothing">
                        <md-card-title>Transfer ownership</md-card-title>
                        <md-card-subtitle>Transfer ownership of this project to someone else's account</md-card-subtitle>
                        <md-card-content>
                            <md-slide-toggle>Transfer</md-slide-toggle>
                        </md-card-content>
                    </md-card>
                </div>

                <div class="row nothing2">
                    <md-card class="nothing">
                        <md-card-title>Lock Project</md-card-title>
                        <md-card-subtitle>Lock this project temporary</md-card-subtitle>
                        <md-card-content>
                            <md-slide-toggle [(ngModel)]="locked">
                                <span *ngIf="!locked">Lock It !</span>
                                <span *ngIf="locked">Unlock It !</span>
                            </md-slide-toggle>
                        </md-card-content>
                    </md-card>
                </div>
                <div class="row nothing2">
                    <md-card class="nothing">
                        <md-card-title>Delete this Project</md-card-title>
                        <md-card-subtitle>Delete this project! WARNING ! This is not reversible!!</md-card-subtitle>
                        <md-card-content>
                            <button style="background-color:red" md-fab>
                                <md-icon class="md-24">delete-forever</md-icon>
                            </button>
                        </md-card-content>
                    </md-card>
                </div>

            </md-card-content>
        </md-card>

    </div>

</div>


