<div    fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
    <div fxFlex="auto">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Notification Settings</mat-card-title>
                <mat-card-subtitle>Change settings for all notifications</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-slide-toggle>Error Notifications</mat-slide-toggle>
                <br>
                <br>
                <mat-select placeholder="Chat Messages" [(ngModel)]="settings.message" floatPlaceholder="always">
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{ type }}
                    </mat-option>
                </mat-select>
                <mat-select placeholder="Invite Received" [(ngModel)]="settings.invite" floatPlaceholder="always">
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{ type }}
                    </mat-option>
                </mat-select>
                <mat-select placeholder="New Member Joined" [(ngModel)]="settings.memberJoined" floatPlaceholder="always">
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{ type }}
                    </mat-option>
                </mat-select>
                <mat-select placeholder="Task Received" [(ngModel)]="settings.myTask" floatPlaceholder="always">
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{ type }}
                    </mat-option>
                </mat-select>
                <button (click)="saveNotificationSettings()">Save</button>
                <!--<mat-select placeholder="Tasks Notifications">
                    <mat-option [value]="none">
                        none
                    </mat-option>
                    <mat-option [value]="push">
                        push
                    </mat-option>
                    <mat-option [value]="toast">
                        toast
                    </mat-option>
                </mat-select>
                <br>
                <mat-select placeholder="Invite Notifications" >
                    <mat-option [value]="none">
                        none
                    </mat-option>
                    <mat-option [value]="push">
                        push
                    </mat-option>
                    <mat-option [value]="toast">
                        toast
                    </mat-option>
                </mat-select>
                <mat-select placeholder="Member Joined Notifications" >
                    <mat-option [value]="none">
                        none
                    </mat-option>
                    <mat-option [value]="push">
                        push
                    </mat-option>
                    <mat-option [value]="toast">
                        toast
                    </mat-option>
                </mat-select>-->
            </mat-card-content>
            <mat-card-footer>
                <mat-divider></mat-divider>
                <mat-icon>history</mat-icon>Updated 3 minutes ago
            </mat-card-footer>
        </mat-card>

    </div>
</div>
