<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div fxFlex>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    Edit Profile
                </mat-card-title>
                <mat-card-subtitle>
                    Edit your information
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout
                     fxLayout.xs="column"
                     fxLayoutAlign="center"
                     fxLayoutGap="10px"
                     fxLayoutGap.xs="0">
                    <div fxFlex>
                                <mat-form-field>
                                    <mat-icon matSuffix>business</mat-icon>
                                    <input matInput placeholder="Company" disabled>
                                </mat-form-field>
                    </div>
                    <div fxFlex>
                                <mat-form-field>
                                    <mat-icon matSuffix>perm_identity</mat-icon>
                                    <input matInput placeholder="Username" [(ngModel)]="profile.username">
                                </mat-form-field>
                    </div>
                    <div fxFlex>
                                <mat-form-field>
                                    <mat-icon matSuffix>email</mat-icon>
                                    <input matInput type="email" placeholder="Email" [(ngModel)]="profile.email" disabled>
                                </mat-form-field>
                    </div>
                </div>
                <div fxLayout
                     fxLayout.xs="column"
                     fxLayoutAlign="center"
                     fxLayoutGap="10px"
                     fxLayoutGap.xs="0">
                    <div fxFlex>
                        <mat-form-field>
                            <input matInput placeholder="First Name" [(ngModel)]="profile.firstName">
                        </mat-form-field>
                    </div>
                    <div fxFlex>
                        <mat-form-field>
                            <input matInput placeholder="Last Name" [(ngModel)]="profile.lastName">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout
                     fxLayout.xs="column"
                     fxLayoutAlign="center"
                     fxLayoutGap="10px"
                     fxLayoutGap.xs="0">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-icon matSuffix>my_location</mat-icon>
                            <input matInput placeholder="Address" [(ngModel)]="profile.address">
                        </mat-form-field>
                    </div>
                    <div fxFlex>
                        <mat-form-field>
                            <mat-icon matSuffix>local_post_office</mat-icon>
                            <input matInput type="number" placeholder="Postal Code">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout
                     fxLayout.xs="column"
                     fxLayoutAlign="center"
                     fxLayoutGap="10px"
                     fxLayoutGap.xs="0">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-icon matSuffix>location_city</mat-icon>
                            <input matInput placeholder="City" [(ngModel)]="profile.city">
                        </mat-form-field>
                    </div>
                    <div fxFlex>
                        <mat-form-field>
                            <mat-icon matSuffix>flag</mat-icon>
                            <input matInput placeholder="Country" [(ngModel)]="profile.country">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout
                     fxLayout.xs="column"
                     fxLayoutAlign="center"
                     fxLayoutGap="10px"
                     fxLayoutGap.xs="0">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-icon matSuffix>description</mat-icon>
                            <textarea matInput cols="100" rows="5" placeholder="About myself" [(ngModel)]="profile.description"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div style="flex:1 1 auto;"></div>
                <button mat-icon-button matTooltip="Save changes" (click)="onSubmit()"><mat-icon>save</mat-icon></button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-divider></mat-divider>
                <mat-icon>history</mat-icon>Last updated : 5 days ago
            </mat-card-footer>
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-image" ></div>
                <mat-card-title matTooltip="{{profile?.username}}">{{ profile?.firstName }} {{ profile?.lastName }}</mat-card-title>
                <mat-card-subtitle><a href="mailto:{{profile.email}}"><small>{{ profile.email}}</small></a></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/img/city.jpg">
            <mat-card-content>
                <p>
                    A little about myself:
                </p><br>
                <p>{{profile.description}}</p>
                <p>Active projects:{{activeProjects}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>