<mat-card class="nothing">
    <mat-card-title>Create a new project</mat-card-title>
    <mat-card-subtitle>You can change most of these settings later, from the project settings menu option</mat-card-subtitle>
    <mat-card-content>

        <mat-grid-list #grid cols="4" rowHeight="15em">
            <mat-grid-tile [colspan]="maxColumns" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Company</mat-card-title>
                    <mat-card-subtitle>Name of product's company or employer</mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field>
                            <input matInput placeholder="Project Company" [(ngModel)]="project.company" >
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="maxColumns" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Project Type</mat-card-title>
                    <mat-card-subtitle>If you're developing for a Company , you could set that here</mat-card-subtitle>
                    <mat-card-content>
                        <mat-radio-group [(ngModel)]="project.typeOf">
                            <mat-radio-button value="public"><mat-chip-list><mat-chip color="primary" selected="true">Public</mat-chip></mat-chip-list></mat-radio-button>
                            <mat-radio-button value="private"><mat-chip-list><mat-chip color="primary" >Private</mat-chip></mat-chip-list></mat-radio-button>
                        </mat-radio-group>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="maxColumns" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Project Name</mat-card-title>
                    <mat-card-subtitle>Select your project name , so it represents your work and team</mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field>
                            <input matInput  required placeholder="Project Name" [(ngModel)]="project.name" >
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Invite members</mat-card-title>
                    <mat-card-subtitle>Invite users to work on your project</mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field>
                            <input (keyup.enter)="onInvite()" matInput   placeholder="Invites" [matAutocomplete]="auto" [(ngModel)]="memberToInvite" (ngModelChange)="search($event)">
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option (click)="onInvite()" *ngFor="let member of membersAutocomplete" [value]="member.email">
                                {{ member.email }}
                            </mat-option>
                        </mat-autocomplete>
                        {{msg}}
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Members invited</mat-card-title>
                    <mat-card-content>
                        <div class="scroll">
                            <p *ngIf="membersToInvite.length < 1">You have not invited yet someone to this project</p>
                            <mat-chip-list *ngFor="let member of membersToInvite">
                                <mat-chip matTooltip="Remove" (click)="removeInvite(member.email)" color="primary" selected="true">{{ member?.email }}</mat-chip>
                            </mat-chip-list>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="maxColumns" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Project Budget</mat-card-title>
                    <mat-card-subtitle>Budget available for your project</mat-card-subtitle>
                    <mat-card-content>
                        <mat-slider #slider style="position:relative;width:100%" [(ngModel)]="project.budget" [thumb-label]="true" min="0" max="50000" tick-interval="auto" ></mat-slider>
                        <p>$ {{ slider.value }} </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>



            <mat-grid-tile [colspan]="maxColumns" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Project Description</mat-card-title>
                    <mat-card-content>
                        <mat-form-field>
                            <textarea matInput  [(ngModel)]="project.description" cols="100" rows="5" placeholder="This text should be concise and readable"></textarea>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>

    </mat-card-content>
    <mat-card-actions>
        <button color="primary" style="text-align:center;width:30%" mat-raised-button (click)="onSubmit()">Create {{ project?.name}}</button>
    </mat-card-actions>
    <mat-card-footer>
        <hr>
        &nbsp;Fields with * (asterisks) are required!
    </mat-card-footer>
</mat-card>