<md-card class="nothing">
    <md-card-title>Create a new project</md-card-title>
    <md-card-subtitle>You can change most of these settings later, from the project settings menu option</md-card-subtitle>
    <md-card-content>

        <md-grid-list #grid cols="4" rowHeight="15em">
            <md-grid-tile [colspan]="maxColumns" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Company</md-card-title>
                    <md-card-subtitle>Name of product's company or employer</md-card-subtitle>
                    <md-card-content>
                        <md-input-container>
                            <input mdInput placeholder="Project Company" [(ngModel)]="project.company" >
                        </md-input-container>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile [colspan]="maxColumns" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Project Type</md-card-title>
                    <md-card-subtitle>If you're developing for a Company , you could set that here</md-card-subtitle>
                    <md-card-content>
                        <md-radio-group [(ngModel)]="project.typeOf">
                            <md-radio-button value="public"><md-chip-list><md-chip color="primary" selected="true">Public</md-chip></md-chip-list></md-radio-button>
                            <md-radio-button value="private"><md-chip-list><md-chip color="primary" >Private</md-chip></md-chip-list></md-radio-button>
                        </md-radio-group>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile [colspan]="maxColumns" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Project Name</md-card-title>
                    <md-card-subtitle>Select your project name , so it represents your work and team</md-card-subtitle>
                    <md-card-content>
                        <md-input-container>
                            <input mdInput  required placeholder="Project Name" [(ngModel)]="project.name" >
                        </md-input-container>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Invite members</md-card-title>
                    <md-card-subtitle>Invite users to work on your project</md-card-subtitle>
                    <md-card-content>
                        <md-input-container>
                            <input (keyup.enter)="onInvite()" mdInput placeholder="Invites" [mdAutocomplete]="auto" [formControl]="inviteCtrl" [(ngModel)]="memberToInvite">
                        </md-input-container>
                        <md-autocomplete #auto="mdAutocomplete">
                            <md-option (click)="onInvite()" *ngFor="let member of membersAutocomplete | async" [value]="member.email">
                                {{ member.email }}
                            </md-option>
                        </md-autocomplete>
                        {{msg}}
                    </md-card-content>
                </md-card>
            </md-grid-tile>

            <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Members invited</md-card-title>
                    <md-card-content>
                        <div class="scroll">
                            <p *ngIf="membersToInvite.length < 1">You have not invited yet someone to this project</p>
                            <md-chip-list *ngFor="let member of membersToInvite">
                                <md-chip mdTooltip="Remove" (click)="removeInvite(member.email)" color="primary" selected="true">{{ member?.email }}</md-chip>
                            </md-chip-list>
                        </div>
                    </md-card-content>
                </md-card>
            </md-grid-tile>

            <md-grid-tile [colspan]="maxColumns" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Project Budget</md-card-title>
                    <md-card-subtitle>Budget available for your project</md-card-subtitle>
                    <md-card-content>
                        <md-slider #slider style="position:relative;width:100%" [(ngModel)]="project.budget" [thumb-label]="true" min="0" max="50000" tick-interval="auto" ></md-slider>
                        <p>$ {{ slider.value }} </p>
                    </md-card-content>
                </md-card>
            </md-grid-tile>



            <md-grid-tile [colspan]="maxColumns" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Project Description</md-card-title>
                    <md-card-content>
                        <md-input-container>
                            <textarea mdInput  [(ngModel)]="project.description" cols="100" rows="5" placeholder="This text should be concise and readable"></textarea>
                        </md-input-container>
                    </md-card-content>
                </md-card>
            </md-grid-tile>

        </md-grid-list>

    </md-card-content>
    <md-card-actions>
        <button color="primary" style="text-align:center;width:30%" md-raised-button (click)="onSubmit()">Create {{ project?.name}}</button>
    </md-card-actions>
    <md-card-footer>
        <hr>
        &nbsp;Fields with * (asterisks) are required!
    </md-card-footer>
</md-card>