<!--
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header"></div>

            <button (click)="onClick()">Alert</button>

            <p>{{ result }}</p>

            <button (click)="createProject()">Create Project</button>
            <div>
                <ul>
                    <li *ngFor="let project of createdProjects" >
                        ID: {{project._id}} Name: {{project.name}}
                        <div *ngFor="let member of project.team">
                            Position: {{member.position}} Email: {{member.email}}
                            <span *ngIf="member.status">Status: {{member.status}}
                                        <button class="btn btn-info btn-fill" *ngIf="member.status ==='pending'" (click)="acceptInvite(member.email,project._id)">Accept invite</button>
                                    </span>
                        </div >
                        <project-invite (addMember)="addMember(i,$event)" [project]='giveProject(project)' ></project-invite>
                         <project-edit  (editProject)="editProject(i,$event)" [project]='giveProject(project)'></project-edit>

                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header"></div>
            <md-tab-group #tab>
                <md-tab label="Created Projects">
                    <div class="header">
                        <p class="category">I've created the followings</p>
                    </div>
                    <div style="float:right">
                        <md-select placeholder="Filter" [(ngModel)]="position">
                            <md-option *ngFor="let position of positions" [value]="position">{{position}}</md-option>
                        </md-select>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>No</th>
                            <th>Name</th>
                            <th>Budget</th>
                            <th>Team members</th>
                            <th>Progress</th>
                            </thead>
                            <tbody *ngFor="let project of projects;let i=index">
                            <tr *ngIf="positionSearch(project.team)">
                                <td (click)="openProjectDashboard(i)" >{{ i+1 }}</td>
                                <td>
                                    <project-edit (editProject)="editProject(i,$event)" [project]="project"></project-edit>
                                </td>
                                <td *ngIf="project.budget">$ {{ project?.budget }}</td>
                                <td *ngIf="!project.budget">No budget</td>
                                <td (click)="openProjectTeam(i)" >
                                    {{project.team?.length}}
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"  [ngStyle]="{'width': progress[i]+'%'}" [attr.aria-valuenow]="progress[i]" [attr.aria-valuemin]="0" [attr.aria-valuemax]="progressF[i]">{{progress[i]}}</div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </md-tab>
                <md-tab label="Create Project">
                    <project-create (projectCreated)="addProject($event)" [email]="user.email"></project-create>
                </md-tab>
            </md-tab-group>
        </div>
    </div>

</div>

