<div
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
    <div fxFlex="auto">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>{{project.name}}</mat-card-title>
                <mat-card-subtitle>Members: {{project.team?.length}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                The description available for this project: <br><br>
                <strong>{{project.description}}</strong>
                <br>Team: <br>
                <ul style="list-style: none">
                    <li *ngFor="let member of project.team">{{member.email}}</li>
                </ul>
                <br>
                Budget: {{project?.budget}}
            </mat-card-content>
            <mat-card-footer>
                <mat-divider></mat-divider>
                <mat-icon>history</mat-icon>Updated 3 minutes ago
            </mat-card-footer>
        </mat-card>
    </div>
</div>