<md-card class="nothing">
    <form #form="ngForm">
    <md-card-title>Create a new task</md-card-title>
    <md-card-subtitle></md-card-subtitle>
    <md-card-content>

        <md-grid-list #grid cols="4" rowHeight="15em">

            <md-grid-tile #taskname [colspan]="2" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Task Name</md-card-title>
                    <md-card-subtitle>Select your project name , so it represents your work and team</md-card-subtitle>
                    <md-card-content>
                        <md-input-container>
                            <input mdInput  required placeholder="Task Name" [(ngModel)]="task.name" name="name">
                        </md-input-container>
                    </md-card-content>
                </md-card>
            </md-grid-tile>

            <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Assign to a member</md-card-title>
                    <md-card-subtitle>Assign this task to someone you believe will get it through</md-card-subtitle>
                    <md-card-content>
                        <md-input-container >
                            <input (keyup.enter)="onAssigned()" mdInput placeholder="Assignee" [mdAutocomplete]="auto" [formControl]="assigneeCtrl" [(ngModel)]="taskAssignee">
                        </md-input-container>
                        <md-autocomplete  #auto="mdAutocomplete">
                            <md-option (click)="onAssigned()"  *ngFor="let assignee of filteredTeam | async" [value]="assignee">
                                {{ assignee }}
                            </md-option>
                        </md-autocomplete>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Assignees</md-card-title>
                    <md-card-subtitle>Here are the members you've assigned this task to</md-card-subtitle>
                    <md-card-content>
                        <div class="scroll">
                            <br>
                            <p *ngIf="assigned.length < 1">You have not assigned yet someone to this task</p>
                            <md-chip-list *ngFor="let assignee of assigned">
                                <md-chip mdTooltip="Remove" (click)="removeAssignee(assignee)" [@focusPanel]='state' [@movePanel]='state' color="primary" selected="true">{{ assignee }}</md-chip>
                            </md-chip-list>
                        </div>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Early date start</md-card-title>
                    <md-card-subtitle>Early start date time for this task</md-card-subtitle>
                    <md-card-content>
                        <md-input-container>
                            <input mdInput [mdDatepicker]="earlyStart" placeholder="Early start" [(ngModel)]="task.date_start" name="earlyStart">
                            <button mdSuffix [mdDatepickerToggle]="earlyStart"></button>
                        </md-input-container>
                        <md-datepicker #earlyStart></md-datepicker>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Early date end</md-card-title>
                    <md-card-subtitle>Early end date for this task</md-card-subtitle>
                    <md-card-content>
                        <md-input-container>
                            <input mdInput [mdDatepicker]="earlyEnd" placeholder="Early End" [(ngModel)]="task.date_end" name="earlyEnd">
                            <button mdSuffix [mdDatepickerToggle]="earlyEnd"></button>
                        </md-input-container>
                        <md-datepicker #earlyEnd></md-datepicker>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Late date start</md-card-title>
                    <md-card-subtitle>Late start date time for this task</md-card-subtitle>
                    <md-card-content>
                        <md-input-container>
                            <input mdInput [mdDatepicker]="lateStart" placeholder="Late Start" [(ngModel)]="task.date_start" name="lateStart">
                            <button mdSuffix [mdDatepickerToggle]="lateStart"></button>
                        </md-input-container>
                        <md-datepicker #lateStart></md-datepicker>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Late end date</md-card-title>
                    <md-card-subtitle>Late end date time</md-card-subtitle>
                    <md-card-content>
                        <md-input-container>
                            <input mdInput [mdDatepicker]="lateEnd" placeholder="Late End" [(ngModel)]="task.date_end" name="lateEnd">
                            <button mdSuffix [mdDatepickerToggle]="lateEnd"></button>
                        </md-input-container>
                        <md-datepicker #lateEnd></md-datepicker>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile #description [colspan]="3" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Task Description</md-card-title>
                    <md-card-subtitle>This text should be concise and readable</md-card-subtitle>
                    <md-card-content>
                        <md-input-container style="width:100%">
                            <textarea mdInput [(ngModel)]="task.description" name="description" cols="100" rows="5" placeholder="Here can be your description"></textarea>
                        </md-input-container>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
            <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-card class="nothing">
                    <md-card-title>Dependecies</md-card-title>
                    <md-card-content>

                    </md-card-content>
                    <md-card-actions>
                        <button md-raised-button (click)="addDependencies()">Select</button>
                    </md-card-actions>
                </md-card>
            </md-grid-tile>


        </md-grid-list>
    </md-card-content>
    <md-card-actions>
        <button color="primary" style="text-align:center;width:30%" md-raised-button [disabled]="!createTaskForm.valid" (click)="onSubmit()">Create {{ task?.name}}</button>
    </md-card-actions>
    <md-card-footer>
        Fields with * (asterisks) are required!
    </md-card-footer>
    </form>
</md-card>