<mat-card class="nothing">
    <form #form="ngForm">
    <mat-card-title>Create a new task</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>

        <mat-grid-list #grid cols="4" rowHeight="15em">

            <mat-grid-tile #taskname [colspan]="2" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Task Name</mat-card-title>
                    <mat-card-subtitle>Select your project name , so it represents your work and team</mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field>
                            <input matInput  required placeholder="Task Name" [(ngModel)]="task.name" name="name">
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Assign to a member</mat-card-title>
                    <mat-card-subtitle>Assign this task to someone you believe will get it through</mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field >
                            <input (keyup.enter)="onAssigned()" matInput placeholder="Assignee" [matAutocomplete]="auto" [formControl]="assigneeCtrl" [(ngModel)]="taskAssignee">
                        </mat-form-field>
                        <mat-autocomplete  #auto="matAutocomplete">
                            <mat-option (click)="onAssigned()"  *ngFor="let assignee of filteredTeam | async" [value]="assignee">
                                {{ assignee }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Assignees</mat-card-title>
                    <mat-card-subtitle>Here are the members you've assigned this task to</mat-card-subtitle>
                    <mat-card-content>
                        <div class="scroll">
                            <br>
                            <p *ngIf="assigned.length < 1">You have not assigned yet someone to this task</p>
                            <mat-chip-list *ngFor="let assignee of assigned">
                                <mat-chip matTooltip="Remove" (click)="removeAssignee(assignee)" [@focusPanel]='state' [@movePanel]='state' color="primary" selected="true">{{ assignee }}</mat-chip>
                            </mat-chip-list>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Early date start</mat-card-title>
                    <mat-card-subtitle>Early start date time for this task</mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field>
                            <input matInput [matDatepicker]="earlyStart" placeholder="Early start" [(ngModel)]="task.date_start" name="earlyStart">
                            <mat-datepicker-toggle matSuffix [for]="earlyStart"></mat-datepicker-toggle>
                            <mat-datepicker #earlyStart></mat-datepicker>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Early date end</mat-card-title>
                    <mat-card-subtitle>Early end date for this task</mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field>
                            <input matInput [matDatepicker]="earlyEnd" placeholder="Early End" [(ngModel)]="task.date_end" name="earlyEnd">
                            <mat-datepicker-toggle matSuffix [for]="earlyEnd"></mat-datepicker-toggle>
                            <mat-datepicker #earlyEnd></mat-datepicker>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Late date start</mat-card-title>
                    <mat-card-subtitle>Late start date time for this task</mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field>
                            <input matInput [matDatepicker]="lateStart" placeholder="Late Start" [(ngModel)]="task.date_start" name="lateStart">
                            <mat-datepicker-toggle matSuffix [for]="lateStart"></mat-datepicker-toggle>
                            <mat-datepicker #lateStart></mat-datepicker>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Late end date</mat-card-title>
                    <mat-card-subtitle>Late end date time</mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field>
                            <input matInput [matDatepicker]="lateEnd" placeholder="Late End" [(ngModel)]="task.date_end" name="lateEnd">
                            <mat-datepicker-toggle matSuffix [for]="lateEnd"></mat-datepicker-toggle>
                            <mat-datepicker #lateEnd></mat-datepicker>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile #description [colspan]="3" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Task Description</mat-card-title>
                    <mat-card-subtitle>This text should be concise and readable</mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field style="width:100%">
                            <textarea matInput [(ngModel)]="task.description" name="description" cols="100" rows="5" placeholder="Here can be your description"></textarea>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="nothing">
                    <mat-card-title>Dependecies</mat-card-title>
                    <mat-card-content>

                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button (click)="addDependencies()">Select</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>


        </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
        <button color="primary" style="text-align:center;width:30%" mat-raised-button [disabled]="!createTaskForm.valid" (click)="onSubmit()">Create {{ task?.name}}</button>
    </mat-card-actions>
    <mat-card-footer>
        Fields with * (asterisks) are required!
    </mat-card-footer>
    </form>
</mat-card>