<div class="row">

    <div class="col-md-12">
        <div class="card" >
            <div class="header">
                <h4 class="title">Gantt</h4>
            </div>
            <div class="content">
                <div class="table-full-width">
                     <div (window:resize)="onResize($event)" style="padding-left:0.5%;padding-right:0.5%">
                        <div id="chart_div" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
