<div    fxLayout="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px">
    <div fxFlex>
        <md-card class="card">
            <md-card-header>
                <md-card-title>Gantt</md-card-title>
                <md-card-subtitle>trastat</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <div id="ganttChartContainer"></div>
            </md-card-content>
            <md-card-footer>
                <md-divider></md-divider>
                <md-icon>history</md-icon>Updated <span >{{timeUpdated | timeAgo}}</span>
            </md-card-footer>
        </md-card>
    </div>

</div>
