<button matTooltip="Add a new task" class="btn-float" color="primary" mat-fab (click)="createNewTask()">
    <mat-icon class="mat-24">add</mat-icon>
</button>
<div
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
    <div fxFlex="auto">
        <mat-card class="card">
            <mat-card-content>
                <mat-tab-group #tab style="height:100%">
                    <mat-tab label="Agile View">
                        <div
                                fxLayout
                                fxLayout.xs="column"
                                fxLayoutAlign="center"
                                fxLayoutGap="10px"
                                fxLayoutGap.xs="0">
                            <div fxFlex="auto">
                                here goes the agile cards
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Classic View">
                        <mat-card class="card" style="height: 70vh">
                            <mat-card-header>
                                <mat-card-title>Tasks</mat-card-title>
                                <mat-card-subtitle>
                                    <p class="category">Show :</p>
                                    <mat-radio-group [(ngModel)]="filterStatus">
                                        <mat-radio-button value="all">All</mat-radio-button>
                                        <mat-radio-button value="closed">Completed</mat-radio-button>
                                        <mat-radio-button value="open">Open</mat-radio-button>
                                    </mat-radio-group>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div  style="height: 100%;width:100%;overflow:auto;display:table;">
                                    <table style="height: 100%;width:100%;">
                                        <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Name</th>
                                            <th>Assigner</th>
                                            <th>Assignees</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <ng-template ngFor let-task [ngForOf]="tasks" let-i="index">
                                            <tr *ngIf="checkStatus(i)" [ngClass]="{'taskCompleted': task.completed}" style="text-align: center">
                                                <td>
                                                    <mat-checkbox *ngIf="hasRightToCompleteTask(task.assigner_email,task.assignee_email)" (change)="completeTask($event.checked,i)" [checked]="task.completed" ></mat-checkbox>
                                                    <mat-checkbox *ngIf="!hasRightToCompleteTask(task.assigner_email,task.assignee_email)" [checked]="task.completed" disabled></mat-checkbox>
                                                </td>
                                                <td (click)="openTaskView(i)">{{ task?.name }}</td>
                                                <td (click)="onEmailClicked(task?.assigner_email)" >{{ task?.assigner_email }}</td>
                                                <td matTooltip="{{task?.assignee_email}}" >{{ task.assignee_email?.length }}</td>
                                                <td >
                                                    <button mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>
                                                    <button mat-mini-fab color="accent"><mat-icon>delete</mat-icon></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        </tbody>
                                    </table>
                                </div>
                            </mat-card-content>
                            <mat-card-footer>
                                <mat-divider></mat-divider>
                                <mat-icon>history</mat-icon> Updated 3 minutes ago
                            </mat-card-footer>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Add new task">
                         <project-create-task (taskCreated)="addTask()" [email]="user.email" ></project-create-task>
                     </mat-tab>
                 </mat-tab-group>
             </mat-card-content>
         </mat-card>
     </div>
 </div>
