<button mdTooltip="Add a new task" class="btn-float" color="primary" md-fab (click)="createNewTask()">
    <md-icon class="md-24">add</md-icon>
</button>

<div
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
    <div fxFlex="auto">
        <md-card class="card">
            <md-card-content>
                <md-tab-group #tab style="height:100%">
                    <md-tab label="Agile View">
                        <div
                                fxLayout
                                fxLayout.xs="column"
                                fxLayoutAlign="center"
                                fxLayoutGap="10px"
                                fxLayoutGap.xs="0">
                            <div fxFlex="auto">
                                here goes the agile cards
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="Classic View">
                        <md-card class="card" style="height: 70vh">
                            <md-card-header>
                                <md-card-title>Tasks</md-card-title>
                                <md-card-subtitle>
                                    <p class="category">Show :</p>
                                    <md-radio-group [(ngModel)]="filterStatus">
                                        <md-radio-button value="all">All</md-radio-button>
                                        <md-radio-button value="closed">Completed</md-radio-button>
                                        <md-radio-button value="open">Open</md-radio-button>
                                    </md-radio-group>
                                </md-card-subtitle>
                            </md-card-header>
                            <md-card-content>
                                <div class="table-full-width" style="height: 100%;overflow:auto;display:block;">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Name</th>
                                            <th>Assigner</th>
                                            <th>Assignees</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <ng-template ngFor let-task [ngForOf]="tasks" let-i="index">
                                            <tr *ngIf="checkStatus(i)" [ngClass]="{'taskCompleted': task.completed}" >
                                                <td>
                                                    <md-checkbox *ngIf="hasRightToCompleteTask(task.assigner_email,task.assignee_email)" (change)="completeTask($event.checked,i)" [checked]="task.completed" ></md-checkbox>
                                                    <md-checkbox *ngIf="!hasRightToCompleteTask(task.assigner_email,task.assignee_email)" [checked]="task.completed" disabled></md-checkbox>
                                                </td>
                                                <td (click)="openTaskView(i)">{{ task?.name }}</td>
                                                <td (click)="onEmailClicked(task?.assigner_email)" >{{ task?.assigner_email }}</td>
                                                <td mdTooltip="{{task?.assignee_email}}" >{{ task.assignee_email?.length }}</td>
                                                <td >
                                                    <button md-mini-fab color="primary"><md-icon>edit</md-icon></button>
                                                    <button md-mini-fab color="accent"><md-icon>delete</md-icon></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        </tbody>
                                    </table>
                                </div>
                            </md-card-content>
                            <md-card-footer>
                                <md-divider></md-divider>
                                <md-icon>history</md-icon> Updated 3 minutes ago
                            </md-card-footer>
                        </md-card>
                    </md-tab>
                    <md-tab label="Add new task">
                        <project-create-task (taskCreated)="addTask($event)" [email]="user.email" ></project-create-task>
                    </md-tab>
                </md-tab-group>
            </md-card-content>
        </md-card>


    </div>
</div>
