.loading {
    height: 100px;
    background-color: gray;
    display: none;
}

router-outlet + .loading{
    display: block;
}

.progress-bar{
    position:fixed;
    margin-top: 0;
    z-index: 10000;
}