<div class="bg-container">
<div class="top-bar-agile">
    <div class="logo-agileits">
        <a href="#"><img src="/img/angular2-logo-white.png" alt=" " /></a>
    </div>
    <div class="nav-agileinfo">
        <ul>
            <li><a [routerLink]="['/homepage']">Home</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="content-w3">
    <h1>404</h1>
    <h2>Something went wrong</h2>
    <p>The page you are looking for has been removed,had its name changed or temporarily unavailable</p>
</div>
<div class="footer-w3ls">
    <p> Copyright &copy; 2017 by  Anchidin Damian | Anastasios Gymnopoylos</p>
</div>
</div>