<!-- CLASS = ROW gives another row for the cards-->
<div class="row" [dragula]='"first-bag"'>

    <div class="col-md-6">
        <md-card class="card">
            <md-card-title>
                Latest Changes
            </md-card-title>
            <md-card-subtitle>
            </md-card-subtitle>
            <md-card-content>
                <md-list>
                    <h3 md-subheader>Projects</h3>
                    <md-list-item *ngFor="let project of projects;let i=index" (click)="openProjectDashboard(i)" class="listItem">
                        <md-icon md-list-icon>folder</md-icon>
                            <h4 md-line> {{project.name}}</h4>
                        </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-footer>
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i> Latest change occurred 2 hours ago
                </div>
            </md-card-footer>
        </md-card>
    </div>

</div>

<div class="row" [dragula]='"first-bag"'>
    <div class="col-md-6">
        <md-card class="card">
            <md-card-title>
                Latest status updates
            </md-card-title>
            <md-card-subtitle>
                View your colleagues statuses
            </md-card-subtitle>
            <md-card-content></md-card-content>
            <md-card-footer>
                <hr>
                <div class="stats">
                    <i class="fa fa-check"></i> Just updated
                </div>
            </md-card-footer>
        </md-card>
    </div>

    <div class="col-md-6">
        <md-card class="card">
            <md-card-title>
                Tasks
            </md-card-title>
            <md-card-subtitle>
                Latest tasks assigned to you
            </md-card-subtitle>
            <md-card-content>
                <div class="table-full-width">
                    <table class="table">
                        <tbody>
                        <thead>
                        <tr>
                            <th>Task Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <ng-template ngFor let-task [ngForOf]="tasks" let-i="index">
                            <tr *ngIf="!task.completed">
                                <td (click)="openTaskView(i)">{{task.name}}</td>
                                <td>{{task.description}}</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
            </md-card-content>
        </md-card>
    </div>

</div>

