<div
        fxLayout
        fxLayout.lt-md="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.lt-md="0" [dragula]='"first-bag"'>
    <div fxFlex="auto">
        <md-card class="card" >
            <md-card-header>
                <md-card-title>
                    Tasks Statistics
                </md-card-title>
            </md-card-header>
            <md-card-content>
                <div id="taskChartContainer"></div>
                <br>
                <ng-template *ngIf="!taskAvailable" >
                    <h4>There are no tasks on this project</h4>
                    <a md-raised-button [routerLink]="['tasks']" >Create a new Task</a>
                </ng-template>
            </md-card-content>
            <md-card-footer>
                <md-divider></md-divider>
                <md-icon>history</md-icon> Just updated
            </md-card-footer>
        </md-card>
    </div>
    <div fxFlex="auto">
        <md-card class="card" >
            <md-card-header>
                <md-card-title>
                    Issues Statistics
                </md-card-title>
            </md-card-header>
            <md-card-content>
                <div id="issuesChartContainer"></div>
            </md-card-content>
            <md-card-footer>
                <md-divider></md-divider>
                <md-icon>history</md-icon> Just updated
            </md-card-footer>
        </md-card>
    </div>

</div>
<div    fxLayout
        fxLayout.lt-md="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.lt-md="0"
        fxLayoutWrap="wrap"
        [dragula]='"first-bag"'>
    <div fxFlex="auto">
        <md-card class="card" >
            <md-card-header>
                <md-card-title>
                    Issues Statistics
                </md-card-title>
            </md-card-header>
            <md-card-content>
                <div id="milestonesChartContainer" style="width:100%;height:100%;"></div>
            </md-card-content>
            <md-card-footer>
                <md-divider></md-divider>
                <md-icon>history</md-icon> Just updated
            </md-card-footer>
        </md-card>
    </div>
    <div fxFlex="auto">
        <md-card class="card" >
            <md-card-header>
                <md-card-title>
                    Fifth Card
                </md-card-title>
                <md-card-subtitle>
                    Fifth Card
                </md-card-subtitle>
            </md-card-header>
            <md-card-content>
                This is the fifth card
            </md-card-content>
            <md-card-footer>
                <md-divider></md-divider>
                <md-icon>history</md-icon> Just updated
            </md-card-footer>
        </md-card>
    </div>
</div>
