<div
        fxLayout
        fxLayout.lt-md="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.lt-md="0" [dragula]='"first-bag"'>
    <div fxFlex="auto">
        <mat-card class="card" >
            <mat-card-header>
                <mat-card-title>
                    Tasks Statistics
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div id="taskChartContainer"></div>
                <br>
                <ng-template *ngIf="!taskAvailable" >
                    <h4>There are no tasks on this project</h4>
                    <a mat-raised-button [routerLink]="['tasks']" >Create a new Task</a>
                </ng-template>
            </mat-card-content>
            <mat-card-footer>
                <mat-divider></mat-divider>
                <mat-icon>history</mat-icon> Updated {{ tasksUpdated | timeAgo}}
            </mat-card-footer>
        </mat-card>
    </div>
    <div fxFlex="auto">
        <mat-card class="card" >
            <mat-card-header>
                <mat-card-title>
                    Issues Statistics
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div id="issuesChartContainer"></div>
            </mat-card-content>
            <mat-card-footer>
                <mat-divider></mat-divider>
                <mat-icon>history</mat-icon> Updated {{ issuesUpdated | timeAgo}}
            </mat-card-footer>
        </mat-card>
    </div>

</div>
<div    fxLayout
        fxLayout.lt-md="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.lt-md="0"
        fxLayoutWrap="wrap"
        [dragula]='"first-bag"'>
    <div fxFlex="auto">
        <mat-card class="card" >
            <mat-card-header>
                <mat-card-title>
                    Issues Statistics
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div id="milestonesChartContainer" style="width:100%;height:100%;"></div>
            </mat-card-content>
            <mat-card-footer>
                <mat-divider></mat-divider>
                <mat-icon>history</mat-icon> Updated {{ milestonesUpdated | timeAgo}}
            </mat-card-footer>
        </mat-card>
    </div>
    <div fxFlex="auto">
        <mat-card class="card" >
            <mat-card-header>
                <mat-card-title>
                    Fifth Card
                </mat-card-title>
                <mat-card-subtitle>
                    Fifth Card
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                This is the fifth card
            </mat-card-content>
            <mat-card-footer>
                <mat-divider></mat-divider>
                <mat-icon>history</mat-icon> Updated {{ tasksUpdated | timeAgo}}
            </mat-card-footer>
        </mat-card>
    </div>
</div>
