<md-sidenav-container fullscreen>
    <md-sidenav #sidenav mode="side" opened="true" style="width:15%;border-radius: 6px!important;box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)!important;">
        <md-toolbar class="profile-menu">
            <span>Project Management</span>

            <md-toolbar-row>
                <div md-card-avatar class="header-image"></div>
                <div style="flex:0.5 0.5 auto;"></div>
                <a  [routerLink]="['profile']"><span>{{profile.email}}</span></a>
            </md-toolbar-row>

        </md-toolbar>
        <md-divider></md-divider>
        <router-outlet name="sidebar"></router-outlet>
        <router-outlet name="projectsidebar"></router-outlet>

    </md-sidenav>

    <md-sidenav #notificationsSidenav mode="over" align="end" style="width:45%;box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)!important;">
        <md-list *ngIf="notifications.length>0">
            <h3 md-subheader>New Notifications</h3>
            <md-list-item *ngFor="let notification of notifications">
                <md-icon md-list-icon style="color:darkred"  >notifications</md-icon>
                <h4 md-line >{{notification.type}}</h4>
                <p md-line > {{notification.date}} </p> <!-- TODO:datepipe to add -->
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Seen Notifications</h3>
            <md-list-item *ngFor="let notification of notifications ">
                    <md-icon md-list-icon style="color:lightgray">notifications</md-icon>
                    <h4 md-line>{{notification.type}}</h4>
                    <p md-line> {{notification.date}} </p> <!-- TODO:datepipe to add -->
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-toolbar style="position:relative;z-index:1000">
        <button mdTooltip="Toggle Sidenav!" md-icon-button *ngIf="!isMobile" (click)="sidenav.toggle()" aria-label="Toggle Sidenav">
            <md-icon aria-hidden="true">menu</md-icon>
        </button>
        <button mdTooltip="Menu" md-icon-button *ngIf="isMobile" [mdMenuTriggerFor]="mobileMenu" aria-label="Menu">
            <md-icon aria-hidden="true">menu</md-icon>
        </button>
        <md-menu #mobileMenu="mdMenu"  [overlapTrigger]="false">
                <a md-menu-item [routerLink]="['dashboard']" *ngIf="userMenuAvailable"><md-icon>dashboard</md-icon>Dashboard</a>
                <a md-menu-item [routerLink]="['myprojects']" *ngIf="userMenuAvailable"><md-icon>business_center</md-icon>My Projects</a>
                <a md-menu-item [routerLink]="['mytasks']" *ngIf="userMenuAvailable"><md-icon>list</md-icon>My Tasks</a>
                <a md-menu-item [routerLink]="['myissues']" *ngIf="userMenuAvailable" ><md-icon>warning</md-icon>My Issues</a>
                <a md-menu-item [routerLink]="['profile']" *ngIf="userMenuAvailable"><md-icon>account_circle</md-icon>Profile</a>
                <a md-menu-item [routerLink]="['calendar']" *ngIf="userMenuAvailable"><md-icon>schedule</md-icon>Calendar</a>
                <a md-menu-item [routerLink]="['chat']" *ngIf="userMenuAvailable"><md-icon>chat</md-icon>Chat</a>
                <a md-menu-item [routerLink]="['invites']" *ngIf="userMenuAvailable"><md-icon>group_add</md-icon>Invites</a>

                <a md-menu-item [routerLink]="['project/dashboard']" *ngIf="!userMenuAvailable"><md-icon>dashboard</md-icon>Dashboard</a>
                <a md-menu-item [routerLink]="['project/tasks']" *ngIf="!userMenuAvailable"><md-icon>format_list_bulleted</md-icon>Tasks</a>
                <a md-menu-item [routerLink]="['project/gantt']" *ngIf="!userMenuAvailable"><md-icon>show_chart</md-icon>Gantt</a>
                <a md-menu-item [routerLink]="['project/issues']" *ngIf="!userMenuAvailable"><md-icon>warning</md-icon>Issues</a>
                <a md-menu-item [routerLink]="['project/team']" *ngIf="!userMenuAvailable"><md-icon>group</md-icon>Team</a>
                <a md-menu-item [routerLink]="['/chat']" *ngIf="!userMenuAvailable"><md-icon>chat</md-icon>Chat</a>
                <a md-menu-item [routerLink]="['project/settings']" *ngIf="!userMenuAvailable"><md-icon>settings</md-icon>Settings</a>
        </md-menu>
        <a md-icon-button [routerLink]="['/app']" aria-label="User's Dashboard">
            <md-icon aria-hidden="true">home</md-icon>
        </a>
        <button mdTooltip="6 new notifications !" md-icon-button class="badge" data-badge="6" (click)="notificationsSidenav.toggle()" aria-label="View Notifications">
            <md-icon aria-hidden="true">notifications</md-icon>
        </button>
        <div style="flex:1 1 auto"></div>
        <md-input-container>
            <md-icon mdPrefix>search</md-icon>
            <input (keyup)="search($event)" mdInput placeholder="Search" [mdAutocomplete]="auto">
            <md-autocomplete #auto="mdAutocomplete">
                <md-option  *ngFor="let value of result">
                    {{ value }}
                </md-option>
            </md-autocomplete>
        </md-input-container>
        <div style="flex:1 1 auto"></div>
        <button mdTooltip="Settings" md-icon-button [mdMenuTriggerFor]="settingsMenu" aria-label="Account Settings">
            <md-icon aria-hidden="true">settings</md-icon>
        </button>
        <md-menu #settingsMenu="mdMenu"  [overlapTrigger]="false">
            <button md-menu-item>Item 1</button>
            <button md-menu-item>Item 2</button>
        </md-menu>
        <button mdTooltip="Logout" md-icon-button (click)="onLogout()" aria-label="Logout">
            <md-icon aria-hidden="true">power_settings_new</md-icon>
        </button>
    </md-toolbar>


    <div class="margin-left-right-50">
        <particles [style]="myStyle" [params]="myParams" [width]="width" [height]="height"></particles>
        <router-outlet ></router-outlet>
    </div>
</md-sidenav-container>
<!--
<div class="wrapper">

    <div [className]="menuColor"  data-image="">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a [routerLink]="['/app']" class="simple-text">
                    <div class="logo-img">
                        <img src="/img/angular2-logo-white.png"/>
                    </div>
                    Project Management
                </a>
            </div>
        <router-outlet name="sidebar"></router-outlet>
        <router-outlet name="projectsidebar"></router-outlet>
            <div style="position:fixed;bottom: 2%;left:1%;">
                <md-button-toggle-group #group="mdButtonToggleGroup" [vertical]="false" [ngModel]="groupColor" (ngModelChange)="changeMenuColour(group.value)">
                    <md-button-toggle value="blue">
                        <md-icon style="color:blue;">format_paint</md-icon>
                    </md-button-toggle>
                <!--<md-button-toggle value="azure">
                        <md-icon style="color:azure;">format_paint</md-icon>
                    </md-button-toggle>
                    <md-button-toggle value="green">
                        <md-icon style="color:green;">format_paint</md-icon>
                    </md-button-toggle>
                    <md-button-toggle value="orange">
                        <md-icon style="color:orange;">format_paint</md-icon>
                    </md-button-toggle>
                    <md-button-toggle value="red">
                        <md-icon style="color:red;">format_paint</md-icon>
                    </md-button-toggle>
                    <md-button-toggle value="purple">
                        <md-icon style="color:purple;">format_paint</md-icon>
                    </md-button-toggle>
                    <!--<md-button-toggle value="gray">
                        <md-icon style="color:gray;">format_paint</md-icon>
                    </md-button-toggle>
                </md-button-toggle-group>
            </div>

    </div>


        <div class="sidebar-background" style="background-image: url(/img/sidebar-4.jpg)"></div>

    </div>


    <div class="main-panel">

        <webapp-navbar [profile]="profile" ></webapp-navbar>

        <div class="main-content">
            <div class="container-fluid">
                <particles [style]="myStyle" [params]="myParams" [width]="width" [height]="height"></particles>
                <router-outlet></router-outlet>
            </div>
        </div>

        <div>
            <webapp-footer></webapp-footer>
        </div>

    </div>
</div>-->


