<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" opened="true" style="width:15%;border-radius: 6px!important;box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)!important;">
        <mat-toolbar class="profile-menu">
            <span>Project Management</span>

            <mat-toolbar-row>
                <div mat-card-avatar class="header-image"></div>
                <div style="flex:0.5 0.5 auto;"></div>
                <a  [routerLink]="['profile']"><span>{{profile.email}}</span></a>
            </mat-toolbar-row>

        </mat-toolbar>
        <mat-divider></mat-divider>
        <router-outlet name="sidebar"></router-outlet>
        <router-outlet name="projectsidebar"></router-outlet>

    </mat-sidenav>

    <mat-sidenav #notificationsSidenav mode="over" align="end" style="width:45%;box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)!important;">
        <mat-list *ngIf="unseenNotifications.length>0">
                <h3 mat-subheader>Unseen Notifications</h3>
                <ng-template ngFor let-notification [ngForOf]="unseenNotifications">
                    <mat-list-item>
                        <button mat-line mat-icon-button (click)="onSeenNotification(notification)"><mat-icon style="color:darkred">notifications</mat-icon></button>
                        <h4 mat-line>{{notification.type}}</h4>
                        <p mat-line> {{notification.date | timeAgo}} </p>
                    </mat-list-item>
                </ng-template>
        </mat-list>
        <mat-list *ngIf="seenNotifications.length>0">
            <mat-divider></mat-divider>
            <h3 mat-subheader >Seen Notifications</h3>
            <ng-template ngFor let-notification [ngForOf]="seenNotifications">
                <mat-list-item>
                    <mat-icon mat-list-icon style="color:lightgray">notifications</mat-icon>
                    <h4 mat-line>{{notification.type}}</h4>
                    <p mat-line> {{notification.date | timeAgo}} </p>
                </mat-list-item>
            </ng-template>
        </mat-list>
    </mat-sidenav>

    <mat-toolbar style="position:relative;z-index:1000">
        <button matTooltip="Toggle Sidenav!" mat-icon-button *ngIf="!isMobile" (click)="sidenav.toggle()" aria-label="Toggle Sidenav">
            <mat-icon aria-hidden="true">menu</mat-icon>
        </button>
        <button matTooltip="Menu" mat-icon-button *ngIf="isMobile" [matMenuTriggerFor]="mobileMenu" aria-label="Menu">
            <mat-icon aria-hidden="true">menu</mat-icon>
        </button>
        <mat-menu #mobileMenu="matMenu"  [overlapTrigger]="false">
                <a mat-menu-item [routerLink]="['dashboard']" *ngIf="userMenuAvailable"><mat-icon>dashboard</mat-icon>Dashboard</a>
                <a mat-menu-item [routerLink]="['myprojects']" *ngIf="userMenuAvailable"><mat-icon>business_center</mat-icon>My Projects</a>
                <a mat-menu-item [routerLink]="['mytasks']" *ngIf="userMenuAvailable"><mat-icon>list</mat-icon>My Tasks</a>
                <a mat-menu-item [routerLink]="['myissues']" *ngIf="userMenuAvailable" ><mat-icon>warning</mat-icon>My Issues</a>
                <a mat-menu-item [routerLink]="['profile']" *ngIf="userMenuAvailable"><mat-icon>account_circle</mat-icon>Profile</a>
                <a mat-menu-item [routerLink]="['calendar']" *ngIf="userMenuAvailable"><mat-icon>schedule</mat-icon>Calendar</a>
                <a mat-menu-item [routerLink]="['chat']" *ngIf="userMenuAvailable"><mat-icon>chat</mat-icon>Chat</a>
                <a mat-menu-item [routerLink]="['invites']" *ngIf="userMenuAvailable"><mat-icon>group_add</mat-icon>Invites</a>

                <a mat-menu-item [routerLink]="['project/dashboard']" *ngIf="!userMenuAvailable"><mat-icon>dashboard</mat-icon>Dashboard</a>
                <a mat-menu-item [routerLink]="['project/tasks']" *ngIf="!userMenuAvailable"><mat-icon>format_list_bulleted</mat-icon>Tasks</a>
                <a mat-menu-item [routerLink]="['project/gantt']" *ngIf="!userMenuAvailable"><mat-icon>show_chart</mat-icon>Gantt</a>
                <a mat-menu-item [routerLink]="['project/issues']" *ngIf="!userMenuAvailable"><mat-icon>warning</mat-icon>Issues</a>
                <a mat-menu-item [routerLink]="['project/team']" *ngIf="!userMenuAvailable"><mat-icon>group</mat-icon>Team</a>
                <a mat-menu-item [routerLink]="['/chat']" *ngIf="!userMenuAvailable"><mat-icon>chat</mat-icon>Chat</a>
                <a mat-menu-item [routerLink]="['project/settings']" *ngIf="!userMenuAvailable"><mat-icon>settings</mat-icon>Settings</a>
        </mat-menu>
        <a mat-icon-button [routerLink]="['/app']" aria-label="User's Dashboard">
            <mat-icon aria-hidden="true">home</mat-icon>
        </a>
        <button matTooltip="{{unseenNotifications.length}} unseen notifications !"
                mat-icon-button [ngClass]="{'badge': unseenNotifications.length>0}"
                [attr.data-badge]="unseenNotifications.length"
                (click)="notificationsSidenav.toggle()"
                aria-label="View Notifications">
            <mat-icon aria-hidden="true">notifications</mat-icon>
        </button>
        <div style="flex:1 1 auto"></div>
        <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>
            <input #searchInput ngModel (ngModelChange)="search($event)" matInput placeholder="Search" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option  *ngFor="let value of result" (onSelectionChange)="onResultSelected(value)">
                    {{ value.value }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div style="flex:1 1 auto"></div>
        <button matTooltip="Settings" mat-icon-button [matMenuTriggerFor]="settingsMenu" aria-label="Account Settings">
            <mat-icon aria-hidden="true">settings</mat-icon>
        </button>
        <mat-menu #settingsMenu="matMenu"  [overlapTrigger]="false">
            <a mat-menu-item [routerLink]="['settings']"></a>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button matTooltip="Logout" mat-icon-button (click)="onLogout()" aria-label="Logout">
            <mat-icon aria-hidden="true">power_settings_new</mat-icon>
        </button>
    </mat-toolbar>


    <div class="margin-left-right-50">
        <particles [style]="myStyle" [params]="myParams" [width]="width" [height]="height"></particles>
        <router-outlet ></router-outlet>
    </div>
</mat-sidenav-container>
<!--
<div class="wrapper">

    <div [className]="menuColor"  data-image="">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a [routerLink]="['/app']" class="simple-text">
                    <div class="logo-img">
                        <img src="/img/angular2-logo-white.png"/>
                    </div>
                    Project Management
                </a>
            </div>
        <router-outlet name="sidebar"></router-outlet>
        <router-outlet name="projectsidebar"></router-outlet>
            <div style="position:fixed;bottom: 2%;left:1%;">
                <mat-button-toggle-group #group="matButtonToggleGroup" [vertical]="false" [ngModel]="groupColor" (ngModelChange)="changeMenuColour(group.value)">
                    <mat-button-toggle value="blue">
                        <mat-icon style="color:blue;">format_paint</mat-icon>
                    </mat-button-toggle>
                <!--<mat-button-toggle value="azure">
                        <mat-icon style="color:azure;">format_paint</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="green">
                        <mat-icon style="color:green;">format_paint</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="orange">
                        <mat-icon style="color:orange;">format_paint</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="red">
                        <mat-icon style="color:red;">format_paint</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="purple">
                        <mat-icon style="color:purple;">format_paint</mat-icon>
                    </mat-button-toggle>
                    <!--<mat-button-toggle value="gray">
                        <mat-icon style="color:gray;">format_paint</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>

    </div>


        <div class="sidebar-background" style="background-image: url(/img/sidebar-4.jpg)"></div>

    </div>


    <div class="main-panel">

        <webapp-navbar [profile]="profile" ></webapp-navbar>

        <div class="main-content">
            <div class="container-fluid">
                <particles [style]="myStyle" [params]="myParams" [width]="width" [height]="height"></particles>
                <router-outlet></router-outlet>
            </div>
        </div>

        <div>
            <webapp-footer></webapp-footer>
        </div>

    </div>
</div>-->


