<div
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
    <div fxFlex="auto">
        <mat-card class="card" >
            <mat-card-content style="height:50em">

                <mat-sidenav-container #sidenav style="height:100%;width:100%;background-color:white!important;">
                    <mat-sidenav #sidenav mode="side" opened="true" style="overflow:hidden">
                        <mat-toolbar color="primary" style="box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)!important">
                            <h4>My email</h4>
                            <div style="flex: 1 1 auto"></div>
                            <button mat-icon-button [matMenuTriggerFor]="my_menu" >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #my_menu="matMenu" [overlapTrigger]="false">
                                <button mat-menu-item>
                                    <mat-icon>dialpad</mat-icon>
                                    <span>Redial</span>
                                </button>
                                <button mat-menu-item disabled>
                                    <mat-icon>voicemail</mat-icon>
                                    <span>Check voicemail</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>notifications_off</mat-icon>
                                    <span>Disable alerts</span>
                                </button>
                            </mat-menu>
                        </mat-toolbar>
                        <webapp-chat-userlist (onConversationSelected)="onConversationSelected($event)" [projects]="projects"></webapp-chat-userlist>
                    </mat-sidenav>

                    <mat-toolbar color="primary" style="border-left:solid 1px gray;box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)!important">
                        <button type="button" mat-button (click)="sidenav.toggle()">
                            <mat-icon>short_text</mat-icon>
                        </button>
                        <div style="flex:1 1 auto"></div>
                        <h4>{{conversationSelected?.name}}</h4>
                        <div style="flex:1 1 auto"></div>
                        <button *ngIf="conversationSelected!==null" mat-icon-button [matMenuTriggerFor]="user_menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #user_menu="matMenu" [overlapTrigger]="false">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Call {{ conversationSelected?.name }}</span>
                            </button>
                            <button mat-menu-item (click)="setMeeting()">
                                <mat-icon>schedule</mat-icon>
                                <span>Set up a meeting</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts for this user</span>
                            </button>
                        </mat-menu>
                    </mat-toolbar>

                    <router-outlet name="messages"></router-outlet>

                </mat-sidenav-container>
     </mat-card-content>
     <mat-card-footer>
         <mat-divider></mat-divider>
         <mat-icon>history</mat-icon> Just updated
     </mat-card-footer>
 </mat-card>
</div>
</div>
