
    <div class="inner-sidenav-content" #list [scrollTop]="list.scrollHeight">
        <div style="padding-top:2em;padding-bottom:2em;">
            <section>
                <ng-template ngFor let-message [ngForOf]="messages">
                    <div *ngIf="message.receiver==projectID">
                        <div [ngClass]="{'from-me': message.sender==profile.email,'from-them':message.sender!==profile.email}" mdTooltip="{{message.date_sent | timeAgo}}"><p>{{message.message}}</p></div>
                        <div class="clear"></div>
                    </div>
                </ng-template>
                <div *ngIf="messages.length<1">No messages on this conversation</div>
            </section>
        </div>
    </div>
    <md-toolbar style="position:fixed;bottom:0;box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)!important">
            <md-input-container >
                <textarea mdInput #message placeholder="Enter a message" [(ngModel)]="messageInput" (keyup.enter)="sendMessage()" cols="80" rows="2"></textarea>
            </md-input-container>
            <button md-icon-button (click)="sendMessage()" [disabled]="messageInput==' ' || messageInput==null"><md-icon>send</md-icon></button>
    </md-toolbar>
